<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  {% if page.name == 'index.md' %}
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/Agda.css">
  {% else %}
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/Agda.css">
  <script src="assets/js/mathjax.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="assets/js/codereveal.js"></script>
  {% endif %}
  {%- feed_meta -%}
  <!-- <script src="{% link assets/js/clipboard.min.js %}"></script> -->
  <!-- <script src="{% link assets/js/codeselect.js %}"></script> -->
</head>
