---
---

// $base-font-size:   14pt;
// $base-font-family: "Alegreya Sans";

// @import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,700;1,400&display=swap');

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

pre, code {
    font-family: "Fira Code";
    font-size: 95%;
}

code {
    padding: 0 2px;
    border-radius: 3px;
}

pre {
    padding: 1ex;
}

.btn-copy-code {
    float: right;
    background: transparent;
    font-size: larger;
    border: 0;

    &:hover {
    cursor: pointer;
    }
}

button {
    font-size: x-small;
}

.solution {
    display: none;
}

.menu {
    list-style: none;
    margin: 0 0 1em 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

    li {
	float: left;
	padding: 0;
	margin: 0;
	display: inline-block;
	text-align: center;
    }

    li:first-child {
	float: left;
	text-align: left;
    }

    li:last-child {
	float: right;
	text-align: right;
    }

    a {
	border-radius: 4px;
	display: inline-block;
	margin: 0;
	padding: 4px;
    }

    a:hover {
	text-decoration: none;
	background-color: #444;
	color: white;
    }
}

a.table-of-contents {
    display: block;
    padding: 1ex;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    background-color: green;
    color: white;
    border-radius: 1ex;
}

a.table-of-contents:hover {
    color: white;
}
