---
---

@import "minima";
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

pre, code {
    font-family: "Fira Code";
    font-size: 95%;
}

code {
    padding: 0 2px;
    border-radius: 3px;
}

pre {
    padding: 1ex;
}
